body
  margin: 0
  color: $text-color
  background-color: $base-color
  +main-font
  height: 100%

a
  text-decoration: underline
  color: black
  &:hover
    color: $hover-color

p
  margin-top: 0
  line-height: 1.8

h2
  +num-font
  text-align: center
  font-size: 50px
  font-weight: normal
  letter-spacing: 3px
