// .footer

.footer
  margin-top: 50px
  margin-bottom: 30px
  display: flex
  justify-content: center

.footer__organizer
  font-size: 20px
  font-weight: bold
  margin-right: 30px

  +mq
    font-size: 14px

.footer__twitter
  font-size: 20px
  font-weight: bold
  display: inline-block
  height: 30px
  padding-left: 35px
  background-image: image-url('icon-twitter.svg')
  background-repeat: no-repeat
  background-position: left
  background-size: 28px

  +mq
    height: 20px
    padding-left: 24px
    font-size: 14px
    background-size: 20px
