// .main-visual

.main-visual
  text-align: center
  position: relative

.main-visual__container
  margin: 0 20px

.main-visual__logo-set
  margin-top: 20px
  margin-bottom: 0

  +mq
    margin-top: 20px

.main-visual__kamon-image
  animation: logo-letter 0.3s ease-in
  width: 90px
  +mq
    width: 90px

.main-visual__logo-image
  min-width: 300px
  +mq
    max-width: 280px

.main-visual__venue, .main-visual__date
  font-size: 20px
  font-weight: bold
  +mq
    font-size: 16px

.main-visual__date
  margin-bottom: 0

.main-visual__venue
  margin-bottom: 5px

.main-visual__venue-address
  font-size: 14px
  margin-bottom: 8px

.main-visual__map-link
  +map-link

.main-visual__logo-thunderbolt-yellow
  animation: thunder 4s linear infinite
  animation-delay: 0.3s

.main-visual__logo-thunderbolt-red
  animation: thunder-red 4s linear infinite
  animation-delay: 1s

.main-visual__logo-letter-1
  animation: logo-letter 0.3s ease-in

.main-visual__logo-08
  opacity: 0
  animation: logo-letter 0.3s ease-in both
  animation-delay: 0.3s

.main-visual__registration
  margin-top: 10px
  margin-bottom: 0px

.main-visual__registration-button
  +oedo-button
