.footer
  .footer__organizer
    %span.footer__organize-title 主催:
    %span.footer__organize-name= link_to 'Asakusa.rb', 'https://asakusarb.esa.io/', target: '_blank'
  =link_to '@asakusarb', 'https://twitter.com/asakusarb', target: '_blank', class: 'footer__twitter'
